/* Estilos base */
* {
  padding: 0%;
  margin: 0%;
}
.hidden {
  display: none;
}
body {
  background-color: azure;
  display: flex;
}

.menu {
  background-color: burlywood;
  flex: 0 0 20%;
}
.contenido {
  background-color: bisque;
}
