body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ecece2;
    font-family: Arial, sans-serif;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* C.entra el cuadro en pantalla */
    background-image: url('../img/fondonegro.jpg');/*o Aquí pones la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen */
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(187, 180, 180, 0.3);
    width: 600px; /* Ancho inicial */
    height: 400px; /* Altura inicial para crecimiento uniforme */
    max-width: 100%;
    font-size: 18px; 
}
 

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff9800;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #ff9800;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 13px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    background-color: #dfd5d5;
    color: #191717;
    color: #000 !important;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login-btn {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff9800;
    color: #eae7e7;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.imagen-grande1 { 
    position: absolute;
     width: 350px; 
     left: 410px;
     top: 250px;
}
.imagen-grande2 { position: absolute;width: 200px; left: -30px; top: 450px;}
.imagen-grande3 { position: absolute; width: 150px; left: 220px; top: 450px; }
.imagen-grande4 { position: absolute; width: 200px; left: 400px; top: 450px; }
.imagen-grande5 { position: absolute; width: 150px; left: 320px; top: 480px; }
.imagen-grande6 { position: absolute; width: 150px; left: 130px; top: 470px; }
.imagen-grande7 { position: absolute; width: 150px; left: -80px; top: 200px; }
.imagen-grande8 { position: absolute; width: 120px; left: 40px; top: 340px; }
.imagen-grande9 { position: absolute; width: 100px; left: 550px; top: 10px; }
.imagen-grande10 { position: absolute; width: 200px; left: 500px; top: -98px; }
.imagen-grande11 { position: absolute; width: 130px; left: 390px; top: -65px; }
.imagen-grande12 { position: absolute; width: 60px; left: -50px; top: 140px; }
.imagen-grande13 { position: absolute; width: 60px; left: -50px; top: 60px; }
.imagen-grande14 { position: absolute; width: 130px; left: 660px; top: 100px; }
.imagen-adicional {
    position: absolute;
    width: 680px;  /* Ajusta el tamaño de la imagen */
    height: 170px;  /* Mantiene la relación de aspecto */
    left: 50%;  /* Centra la imagen horizontalmente */
    top: 475px;
    bottom: 0;  /* Coloca la imagen en la parte inferior */
    transform: translateX(-50%);  /* Asegura que se centre perfectamente */
    z-index: -1;  /* Coloca la imagen detrás de las otras imágenes */
}
    